<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BOP.BO.Properties.Settings.FAJAS_BDConnectionString"
            connectionString="Data Source=JINTAN\SQLEXPRESS;Initial Catalog=FAJAS_BD;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BOP.BO.Properties.Settings.FAJAS_BDConnectionString1"
            connectionString="Data Source=JINTAN\SQLEXPRESS;Initial Catalog=FAJAS_BD;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>