<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=JINTAN\SQLEXPRESS;Initial Catalog=HILJO_DB;Persist Security Info=True;User ID=sa;Password=1234" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HILJO-20170510103159.mdf;Initial Catalog=aspnet-HILJO-20170510103159;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
<!--ProjectGuid: {D2969DAC-1414-4CA9-85E0-E1ECB281A986}-->