<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="BOP.Master.cs" Inherits="BOP.Views.BOP" %>

<html lang="es">
<head runat="server"> 
    <title><%: Page.Title %> - BOP</title>
     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >
    <asp:ContentPlaceHolder ID="CPHBOP" runat="server">
    </asp:ContentPlaceHolder> 
</body>
</html>
